.done{
    text-decoration: line-through;
    color: #d3d3d3;
    font-style: italic;
}

.done:hover{
    text-decoration: line-through;
}

.list-group-item{
    cursor:pointer;
}

.done::before{
    content: "{";
}


.done::after{
    content: "}";
}

.fix-width-max{
    max-width: 100%;
}